furo==2021.11.16
sphinx
pandoc
nbsphinx
jupytext
myst-parser
sphinx-book-theme
ipython
ipykernel
ipywidgets==7.6.5
pyvista==0.33.3
vtk==9.1.0
tetgen==0.6.0
pymeshfix==0.15.0
appdirs==1.4.4
Pillow==9.0.1
scikit-learn==1.0.2
widgetsnbextension==3.5.2
pythreejs==2.3.0
pandas
febio-python==0.1.4